:root {
    --outer-space: #33393f;
    --bright-turquoise: #ecb85c;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }

header {
background-color: var(--bright-turquoise);
fill: #ecb85c;
  }

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: Tahoma, sans-serif;
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.12rem;
   
  }
  
  /* HEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
  WHEN I click one of the links in the navigation
  THEN the UI scrolls to the corresponding section
  WHEN I click on the link to the section about their work
  THEN the UI scrolls to a section with titled images of the developer's applications
  WHEN I am presented with the developer's first application
  THEN that application's image should be larger in size than the others
  WHEN I click on the images of the applications
  THEN I am taken to that deployed application
  WHEN I resize the page or view the site on various screens and devices
  THEN I am presented with a responsive layout that adapts to my viewport */