* {
  box-sizing: border-box;
  background-color: lightgray;
}
/* selection of all items and based on selection criteria create an aesthetic environment */
.page-title{
  color: beige;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/226/039/small/abstract-technology-geometric-pattern.jpg");
}
.sourcepicture {
background-color: rgb(137, 114, 175);;
}
/* create a background where I can develop and create the code nessessary for a cool style */
.card.setup ul {
  display: inline;
  list-style-type: none;
  background-color: rgb(137, 114, 175);
  color: white;
  border:solid;
  border-color: rgb(137, 114, 175);
}
/* navbar setup */
.card.setup {
  display: block;
  float: bottom;
  background-color: rgb(137, 114, 175);
  padding: 10px;
  border-radius: 25px;
  
}
.title {
font-size: 20px;
}
/* styling picture */
.sourcepicture{
  max-width: 300px;
  max-height: 400px;
  border-color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}

.container {
  display: flex;
  padding: 10px;
  margin-bottom: 100px;
  
}
/* styling container of information` */
.container h2{
  border: solid;
  border-radius: 10px;
  font-size: 50px;
  background-color: rgb(137, 114, 175);
  color: white;
  padding: 20px;
}
.container p {
  padding-left: 10px;
  border: solid;
  font-size: 25px;
}
.card.projects{
display: flex;
flex-direction: column;
padding: 10px;
}
/* created project styling and project layout */
.card.projects header{
  border: solid;
  color: rgb(137, 114, 175);
  font-size: 70px;
}
.projpic{
  max-width: 500px;
  max-height: 600px;
  padding-top: 10px;
  border-radius: 5px;
}
/* project hover and created links */
.projpic:hover {
  box-shadow: 10px 10px 10px 10px rgb(137, 114, 175);
}
/* contact page header */
.contactspage header{
background-color: rgb(137, 114, 175);;
margin-top: 150px;
font-size: 50px;
border-radius: 15px;
border: solid;
}

.contactspage ul {
  padding: 10px;
  border: solid;
}
.contactspage a {
  text-align:justify;
}
  /* HEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
  WHEN I click one of the links in the navigation
  THEN the UI scrolls to the corresponding section
  WHEN I click on the link to the section about their work
  THEN the UI scrolls to a section with titled images of the developer's applications
  WHEN I am presented with the developer's first application
  THEN that application's image should be larger in size than the others
  WHEN I click on the images of the applications
  THEN I am taken to that deployed application
  WHEN I resize the page or view the site on various screens and devices
  THEN I am presented with a responsive layout that adapts to my viewport */